{{ define "title" }}Admin{{ end }}

{{ define "content" }}
<h1>Admin page</h1>

<p>Welcome, {{ .Username }}!</p>

{{ if .URLs }}
<h2>Your short URLs</h2>
<ul>
    {{ range .URLs }}
    <li><a href="/{{ .ShortURL }}">{{ .ShortURL }}</a> - {{ .LongURL }}</li>
    {{ end }}
</ul>

{{/*<h2>Actions</h2>
<form action="/admin/url/delete" method="post">
    <label for="shorturl">Short URL:</label>
    <input type="text" id="shorturl" name="shorturl" required>
    <button type="submit">Delete</button>
</form>*/}}
{{ end }}

{{/* <p><a href="/admin/logout">Logout</a></p> */}}
{{ end }}
