{{ define "title" }}Admin{{ end }}

{{ define "content" }}
<h1>Admin page</h1>

<p>Welcome, {{ .Username }}!</p>

{{ if .URLs }}
<h2>Your short URLs</h2>
<table id="urlsTable">
    <tr>
        <th>URL path</th>
        <th>Redirect URL</th>
        <th>Custom</th>
        <th>Options</th>
    </tr>
    {{ range .URLs }}
    <tr>
        <td><span style="color: #7f7f7f">https://yourdomain.com/</span>{{ .Src }}</td>
        <td>{{ .Dst }}</td>
        <td>{{ if .IsCustom }}Yes{{ else }}No{{ end }}</td>
        <td><a hx-get="/admin/urls/{{ .IDLink }}/edit">Edit</a><a hx-delete="/admin/urls/{{ .IDLink }}">Delete</a></td>
    </tr>
    {{ end }}
</table>
{{ end }}

<h2>Actions</h2>

<h3>Add short URL</h3>
<form hx-post="/admin/url/add" hx-target="#add-url">
    <label for="shorturl">URL path (optional):</label>
    https://yourdomain.com/<input type="text" id="shorturl" name="shorturl">
    <br>
    <label for="longurl">Redirect URL:</label>
    <input type="url" id="longurl" name="longurl" required>
    <br>
    <button type="submit" hx->Add</button>
</form>


{{/* <p><a href="/admin/logout">Logout</a></p> */}}
{{ end }}
