{{ define "title" }}Admin{{ end }}

{{ define "content" }}
<h1>Welcome, {{ .Username }}!</h1>

<p>Here you can manage your redirects.</p>

{{ if .URLs }}
<h2>Your short URLs</h2>
<table id="urlsTable">
    <tr>
        <th>URL path</th>
        <th>Redirect URL</th>
        <th>Custom</th>
        <th>Options</th>
    </tr>
    {{ range .URLs }}
    <tr id="row-{{ .IDLink }}">
        <td><span style="color: #7f7f7f">https://domain.tld/</span>{{ .Src }}</td>
        <td>{{ .Dst }}</td>
        <td>{{ if .IsCustom }}Yes{{ else }}No{{ end }}</td>
        <td>
            <button hx-get="/admin/urls/edit/{{ .IDLink }}" hx-target="#row-{{ .IDLink }}"
                hx-swap="outerHTML">Edit</button>
            <button hx-delete="/admin/urls/{{ .IDLink }}" hx-target="#row-{{ .IDLink }}"
                hx-swap="outerHTML">Delete</button>
    </tr>
    {{ end }}
</table>
{{ end }}

<h2>Actions</h2>

<h3>Add short URL</h3>
<form action="/admin/urls/add" method="post">
    <label for="shorturl">URL path (optional):</label>
    https://domain.tld/<input type="text" id="shorturl" name="shorturl">
    <br>
    <label for="longurl">Redirect URL:</label>
    <input type="url" id="longurl" name="longurl" required>
    <br>
    <button type="submit">Add</button>
</form>

<hr>

<p><a href="/admin/password">Change password</a></p>
{{ end }}
