{{ define "title" }}Change password{{ end }}

{{ define "content" }}
<h1>Change password</h1>

<form action="/admin/password" method="post">
    <label for="password">Old password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="newpassword">New password:</label>
    <input type="password" id="newpassword" name="newpassword" required>
    <br>
    <label for="newpassword2">Repeat new password:</label>
    <input type="password" id="newpassword2" name="newpassword2" required>
    <br>
    <button type="submit">Change</button>
</form>
{{ end }}
